
<template>

  <img class="logo" alt="Vue logo" src="./assets/logo.png">
  <div class="btn">
    <el-button type="primary" >
      Get Started
    </el-button>
  </div>

  <!-- <NuxtLink to="/">Home page</NuxtLink> -->
  <main>
    <NuxtPage />
  </main>
</template>

<script>
export default {


};
</script>


<style>
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.logo {
  width: 50%;
}
.btn {
  margin-top: 100px;
}
</style>
